body {
background-color: #f5f5f5;
font-family: Arial, sans-serif;
margin: 20px;
line-height: 1.6;
}


h1 {
color: #2b5c93;
font-size: 32px;
font-weight: bold;
}


h2 {
color: #333;
font-family: Verdana, sans-serif;
}


ul {
padding-left: 20px;
}


li {
margin-bottom: 6px;
}


img {
border-radius: 12px;
margin-right: 15px;
margin-top: 10px;
}


p {
font-size: 16px;
}